<template name="adminVouchers">
	{{> backgroundApp}}

	{{#generalLayout}}

		<div class="panel panel-default computed">
			<div class="panel-body">
				Unscheduled Claims
				{{#each unscheduledClaims}}
					{{> unscheduledClaim}}
				{{/each}}

				Scheduled Claims
				{{#each scheduledClaims}}
					{{#each vouchers}}
						{{_id}}
						date
						time
						redeem button
					{{/each}}
				{{/each}}
			</div>
		</div>

	{{/generalLayout}}
</template>

<template name="unscheduledClaim">
	{{queue}}
	{{#if scheduling}}
		schedule form
			{{#each vouchers}}
				{{_id}}
				date
				time
			{{/each}}
		submit button
	{{else}}
		<button id="voucherBeginSchedule">Schedule</button>
	{{/if}}
</template>