<head>
	<title>The Blaine Hansen Piano Studio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<template name="header">
	<div class="row header">
		<div class="col-sm-9">
			<div class="row">
				<a href="/"><div id="banner-name" class="col-xs-12 header-col text-nav">
					Blaine Hansen
				</div></a>
				<a href="/projects"><div class="col-xs-12 header-col text-nav">
					Projects
				</div></a>
				<a href="/blog"><div class="col-xs-12 header-col text-nav">
					Blog
				</div></a>
				<a href="/teaching"><div class="col-xs-12 header-col text-nav">
					Teaching
				</div></a>
				<a href="/social"><div class="col-xs-12 header-col text-nav">
					Social
				</div></a>
			</div>
		</div>
		{{#if currentUser}}
			<div id="userBox" class="col-sm-1 col-sm-offset-2 header-col">
				<span id="userBoxText" class="glyphicon glyphicon-th"></span>
			</div>
		{{else}}
			<a href="/login"><div class="col-sm-2 col-sm-offset-1 header-col">
				Sign In
			</div></a>
		{{/if}}
	</div>
	<div id="userDropdown" class="row {{#if session 'userDropdownActivated'}}activated{{/if}}">
		<div class="col-xs-12 col-sm-3 col-sm-offset-9">
			<div class="row">
				<a href="/user">
					<div class="col-xs-12 user-dropdown-col">
						<span class="glyphicon glyphicon-user"></span> User Page
					</div>
				</a>
				{{#if isInRole 'admin'}}
					<a href="/admin">
						<div class="col-xs-12 user-dropdown-col">
							<span class="glyphicon glyphicon-stats"></span> Admin Panel
						</div>
					</a>
					<!-- <a href="/admin/vouchers">
						<div class="col-xs-12 user-dropdown-col">
							<span class="glyphicon glyphicon-stats"></span> Manage Vouchers
						</div>
					</a> -->
				{{/if}}
				<a id="headerSignOut" href="#">
					<div class="col-xs-12 user-dropdown-col">
						<span class="glyphicon glyphicon-remove"></span> Sign Out as {{currentUser.firstname}}
					</div>
				</a>
			</div>
		</div>
	</div>
</template>

<template name="footer">
	<div class="row footer">
		<div class="col-sm-12">
			<div class="row">
				<a><div class="col-xs-12 col-sm-3 social-col open">
					<div class="social-col-icon">
						<a href="/social#kickstarter" class="st-icon-kickstarter st-shape-icon">Kickstarter</a>
					</div>
					<div class="social-col-details"><a class="kickstarter">Concrete Mirrors</a></div>
				</div></a>
				<a><div class="col-xs-12 col-sm-3 social-col">
					<div class="social-col-icon">
						<a href="/social#facebook" class="st-icon-facebook-alt st-shape-icon">Facebook</a>
					</div>
					<div class="social-col-details">Follow</div>
				</div></a>
				<!-- <a><div class="col-xs-12 social-col">
					<div class="social-col-icon">
						<a href="/social#twitter" class="st-icon-twitter st-shape-icon">Twitter</a>
					</div>
					<div class="social-col-details">Follow</div>
				</div></a> -->
				<a><div class="col-xs-12 col-sm-3 social-col">
					<div class="social-col-icon">
						<a href="/social#youtube" class="st-icon-youtube st-shape-icon">Youtube</a>
					</div>
					<div class="social-col-details">Subscribe</div>
				</div></a>
				<!-- <a><div class="col-xs-12 social-col">
					<div class="social-col-icon">
						<a href="/social#soundcloud" class="st-icon-soundcloud st-shape-icon">Soundcloud</a>
					</div>
					<div class="social-col-details">Follow</div>
				</div></a> -->
				<!-- <a><div class="col-xs-12 social-col">
					<div class="social-col-icon">
						<a href="/social#instagram" class="st-icon-instagram st-shape-icon">Instagram</a>
					</div>
					<div class="social-col-details">Follow</div>
				</div></a>
				<a><div class="col-xs-12 social-col">
					<div class="social-col-icon">
						<a href="/social#tumblr" class="st-icon-tumblr st-shape-icon">Tumblr</a>
					</div>
					<div class="social-col-details">Follow</div>
				</div></a> -->
				<a><div class="col-xs-12 col-sm-3 social-col">
					<div class="social-col-icon">
						<a href="/social#email" class="st-icon-email2 st-shape-icon">Email</a>
					</div>
					<div class="social-col-details">Mailing List</div>
				</div></a>
			</div>
		</div>
	</div>
</template>

<template name="headerFooter">
	<div class="container-fluid">
		{{> header}}

		{{> yield}}

		{{> footer}}
	</div>
</template>

<template name="home">
	<div class="row body-film">
		<div class="col-sm-7">
			{{> backgroundPictures}}
		</div>
		{{#scroller classes="col-sm-5 block-film"}}
			<div id="newsfeed">
				{{#each testthings}}
					<div class="story">
						<p>{{testattr}}</p>
					</div>
				{{else}}
					<div class="story">
						<p>No Test Things</p>
					</div>
				{{/each}}
				<div class="story">
					{{#clickToEdit}}
						<p>
							{{> quickForm id="insertTestThingForm" collection="TestThings" type="insert" template="bootstrap3-inline" buttonContent=false label-class="sr-only" afFieldInput-placeholder="schemaLabel"}}
						</p>
					{{else}}
						<p id="clickArea">...</p>
					{{/clickToEdit}}
				</div>

				{{#each news}}
					<div class="story">
						<p class="important">{{date}} - {{title}}</p>
						<p>{{> Template.dynamic template=contentTemplate}}</p>
					</div>
				{{/each}}
			</div>
		{{/scroller}}
	</div>
</template>

<template name="generalLayout">
	<div class="row body-film">
		{{#scroller classes="col-xs-12 fill-height"}}
			<div class="computed-content-block">
				{{> UI.contentBlock}}
			</div>
		{{/scroller}}
	</div>
</template>

<template name="reset">
	{{> backgroundApp}}

	{{#generalLayout}}
		<div class="panel panel-default">
			<div class="panel-body">
				You have been sent an email to reset your password!
			</div>
		</div>
	{{/generalLayout}}
</template>

<template name="backgroundApp">
	<div class="background-slide top"
	style="background: url('/linen.png') no-repeat fixed center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;">
	</div>
</template>

<template name="backgroundPictures">
	{{#each slides}}
		<div class="background-slide {{top}}"
		style="background: url({{picture}}) no-repeat fixed center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;">
		</div>
	{{/each}}

	<div id="featureContainer">
		{{#each slides}}
			<div class="jumbotron features {{top}}">
				<h1>{{banner}}</h1>
				<p>{{subtitle}}</p>
			</div>
		{{/each}}
	</div>
</template>

<template name="social">
	<div class="row body-film">
		{{#scroller classes="col-xs-12 fill-height"}}
			<div class="content-block">
				<div class="row contact-row">
					<div class="col-sm-1">
						<a id="kickstarter"></a>
						<a target="_newtab" href="https://www.kickstarter.com/profile/479643027" class="st-icon-kickstarter st-brand-color big-icon">
							Kickstarter
						</a>
					</div>
					<div class="col-sm-10">
						<h3>Kickstarter</h3>
						<p>
							Kickstarter is a crowdfunding site for creative projects such as albums, games, and books. Here's their <a target="_newtab" href="https://www.kickstarter.com/hello">Hello Page</a>, where you can read all about their mission and how the site works.
						</p>
						<p>
							Kickstarter is very exciting to me, because it opens up a world of possibilities for artists. Classical Music especially can benefit from these types of crowdfunding systems, since that's the way Classical Music was made for centuries! In <a target="_newtab" href="https://www.kickstarter.com/blog/kickstarter-before-kickstarter">this article</a>, the Kickstarter team shares some historical examples of crowdfunding, including a story about Mozart.
						</p>
						<p>
							I currently have a project in the works, called <a target="_newtab" href="https://www.kickstarter.com/projects/479643027/1740883618?token=4a3e0bc5">Concrete Mirrors</a>. Feel free to leave feedback about this project to help me make it a success when it launches!
						</p>
					</div>
				</div>
				<div class="row contact-row">
					<div class="col-sm-1">
						<a id="facebook"></a>
						<a target="_newtab" href="https://www.facebook.com/TheBlaineHansenPianoStudio" class="st-icon-facebook-alt st-brand-color big-icon">
							Facebook
						</a>
					</div>
					<div class="col-sm-10">
						<h3>Facebook</h3>
						<p>This is my studio <a target="_newtab" href="https://www.facebook.com/TheBlaineHansenPianoStudio">Facebook page</a>.</p>
					</div>
				</div>
				<!-- <div class="row contact-row">
					<div class="col-sm-1">
						<a id="twitter"></a>
						<a target="_newtab" href="https://twitter.com/BlainePiano" class="st-icon-twitter st-brand-color big-icon">
							Twitter
						</a>
					</div>
					<div class="col-sm-10">
						<h3>Twitter</h3>
						<p>Here's my studio <a target="_newtab" href="https://twitter.com/BlainePiano">Twitter feed</a>.</p>
					</div>
				</div> -->
				<div class="row contact-row">
					<div class="col-sm-1">
						<a id="youtube"></a>
						<a target="_newtab" href="https://www.youtube.com/channel/UCgMGpOpu51UwrWVtYtWUwig" class="st-icon-youtube st-brand-color big-icon">
							Youtube
						</a>
					</div>
					<div class="col-sm-10">
						<h3>Youtube</h3>
						<p>
							On my <a target="_newtab" href="https://www.youtube.com/channel/UCgMGpOpu51UwrWVtYtWUwig">Youtube channel</a> I post my performance videos.
						</p>
					</div>
				</div>
				<!-- <div class="row contact-row">
					<div class="col-sm-1">
						<a id="soundcloud"></a>
						<a target="_newtab" href="https://soundcloud.com/blainehansen" class="st-icon-soundcloud st-brand-color big-icon">
							Soundcloud
						</a>
					</div>
					<div class="col-sm-10">
						<h3>Soundcloud</h3>
						<p>
							Soundcloud is a site for sharing audio of any kind. Here's their <a target="_newtab" href="https://soundcloud.com/pages/contact">About page</a>.
						</p>
						<p>
							I use Soundcloud to share audio only versions of my performances, and here's my <a target="_newtab" href="https://soundcloud.com/blainehansen">Stream</a>.
						</p>
					</div>
				</div> -->
				<!-- <div class="row contact-row">
					<div class="col-sm-1">
						<a id="instagram"></a>
						<a target="_newtab" href="http://instagram.com/" class="st-icon-instagram st-brand-color big-icon">
							Instagram
						</a>
					</div>
					<div class="col-sm-10">
						<h3>Instagram</h3>
						<p>
							Instagram is a site for sharing pictures. Here's their <a target="_newtab" href="http://instagram.com/about/faq/">Frequently Asked Questions page</a>.
						</p>
						<p>
							I'm not much of a photographer, but I have an <a href="">Instagram account</a>.
						</p>
					</div>
				</div>
				<div class="row contact-row">
					<div class="col-sm-1">
						<a id="tumblr"></a>
						<a target="_newtab" href="https://www.tumblr.com/blog/blainehansen" class="st-icon-tumblr st-brand-color big-icon">
							Tumblr
						</a>
					</div>
					<div class="col-sm-10">
						<h3>Tumblr</h3>
						<p>
							Tumblr is a blogging site. Here's their <a target="_newtab" href="https://www.tumblr.com/about">About page</a>.
						</p>
						<p>
							As I write articles on this site's <a href="/blog">Blog section</a>, I'll also post these articles on Tumblr for whoever might be interested.
						</p>
					</div>
				</div> -->
				<div class="row contact-row">
					<div class="col-sm-1">
						<a id="email"></a>
						<a class="st-icon-email2 st-brand-color big-icon">
							Email
						</a>	
					</div>
					<div class="col-sm-10">
						<h3>Email</h3>
						<p>
							My studio email is <span class="important">blainehansenclassicalpiano@gmail.com</span>.
						</p>
					</div>
				</div>
			</div>
		{{/scroller}}
	</div>
</template>

<template name="notFound">
	{{> backgroundApp}}

	{{#generalLayout}}

		<div class="panel panel-default">
			<div class="panel-body">
				Sorry! That page couldn't be found.
			</div>
		</div>

	{{/generalLayout}}
</template>

<template name="loading">
	{{> backgroundApp}}

	{{#generalLayout}}
		<h3>Loading</h3>
	{{/generalLayout}}
</template>