<template name="userView">
	{{> backgroundApp}}

	{{#generalLayout}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<a class="userChangeTemplate" data-show-template="userInfoTemplate">
					Your Customer Info
				</a>
				{{#if userStudent}}
					<a class="userChangeTemplate" data-show-template="userSelfStudentTemplate" data-show-data="{{userStudent._id}}">
						Your Student Info
					</a>
				{{/if}}
				{{#each students}}
					<a class="userChangeTemplate" data-show-template="userStudentTemplate" data-show-data="{{this._id}}">
						{{firstname}} {{lastname}}
					</a>
				{{/each}}
				<a class="userChangeTemplate" data-show-template="userPaymentTemplate">
					Balance and Payment Info
				</a>
			</div>
			<div class="panel-body">
				{{> Template.dynamic template=showTemplate data=showTemplateData}}
			</div>
		</div>
	{{/generalLayout}}
</template>

<template name="userInfoTemplate">
	{{#clickToEdit contextId="userInfoFirstname" contextCollection="Meteor.Users"}}
		{{> quickForm id="userInfoFirstname" collection="Meteor.Users" type="update" doc=this fields="firstname" template="bootstrap3-inline" buttonContent=false label-class="sr-only" afFieldInput-placeholder=firstname}}
	{{else}}
		<p class="open-area">{{firstname}}</p>
	{{/clickToEdit}}

	{{#clickToEdit contextId="userInfoLastname" contextCollection="Meteor.Users"}}
		{{> quickForm id="userInfoLastname" collection="Meteor.Users" type="update" doc=this fields="lastname" template="bootstrap3-inline" buttonContent=false label-class="sr-only" afFieldInput-placeholder=lastname}}
	{{else}}
		<p class="open-area">{{lastname}}</p>
	{{/clickToEdit}}

	{{#clickToEdit contextId="passwordEdit" contextSchema="PasswordChangeSchema"}}
		{{#autoForm id="passwordEdit" schema="PasswordChangeSchema"}}
			<fieldset>
				{{> afFormGroup name="oldPassword" type="password"}}

				{{> afFormGroup name="newPassword" type="password"}}

				{{> afFormGroup name="confirmPassword" type="password"}}

				{{#if afFieldIsInvalid name='feedback'}}
					<div class="has-error">
						<span class="help-block">{{afFieldMessage name="feedback"}}</span>
					</div>
				{{/if}}

				<button type="submit">Change It!</button>
			</fieldset>
		{{/autoForm}}
		<button class="close-area">Nevermind</button>
	{{else}}
		<button class="open-area">Change Password</button>
	{{/clickToEdit}}

	{{#if session "removeEmailVerificationInvalid"}}
		<div class="has-error">
			<span class="help-block">You can't remove an email if it's your only verified one!</span>
		</div>
	{{/if}}
	{{#if session "removeEmailQuantityInvalid"}}
		<div class="has-error">
			<span class="help-block">You need to have at least one email address in order to be able to log in!</span>
		</div>
	{{/if}}
	{{#each emails}}
		{{> userInfoEmailTemplate this}}
	{{/each}}

	<!-- {{> quickForm id="userInfoPhones" collection="Meteor.Users" type="update" doc=this fields="phones"}} -->

	{{#each phones}}
		{{#clickToEdit}}
		{{/clickToEdit}}
		{{> quickForm id="userInfoPhone" collection="Meteor.Users" type="update" doc=.. fields="lastname" template="bootstrap3-inline" buttonContent=false label-class="sr-only" afFieldInput-placeholder=lastname}}
	{{/each}}
</template>

<template name="userInfoEmailTemplate">
	{{#if verified}}
		<p>{{address}}</p>
		<button class="removeEmail">Remove</button>
	{{else}}
		{{#clickToEdit}}
			{{> quickForm id="userInfoEmail" type="method"  fields="emails.$.address" template="bootstrap3-inline" buttonContent=false label-class="sr-only" afFieldInput-placeholder=address}}
		{{else}}
			<p class="open-area">{{address}}</p>
			<span class="label label-warning">Unverified</span>
			<button class="verifyEmail">Verify</button>
			<button class="removeEmail">Remove</button>
		{{/clickToEdit}}
	{{/if}}
</template>

<template name="userSelfStudentTemplate">
	{{dollars price}}

	{{#each lessons}}
		{{showDate date}}
		{{dollars price}}
	{{/each}}

	{{#each expenses}}
		{{showdate date}}
		{{dollars amount}}
		{{comments}}
	{{/each}}
</template>

<template name="userStudentTemplate">
	{{#clickToEdit contextId="userInfoFirstname" contextCollection="Students"}}
		{{> quickForm id="userInfoFirstname" collection="Students" type="update" doc=this fields="firstname" template="bootstrap3-inline" buttonContent=false label-class="sr-only" afFieldInput-placeholder=firstname}}
	{{else}}
		<p class="open-area">{{firstname}}</p>
	{{/clickToEdit}}

	{{#clickToEdit contextId="userInfoLastname" contextCollection="Students"}}
		{{> quickForm id="userInfoLastname" collection="Students" type="update" doc=this fields="lastname" template="bootstrap3-inline" buttonContent=false label-class="sr-only" afFieldInput-placeholder=lastname}}
	{{else}}
		<p class="open-area">{{lastname}}</p>
	{{/clickToEdit}}

	{{dollars price}}

	{{#each lessons}}
		{{showDate date}}
		{{dollars price}}
	{{/each}}

	{{#each expenses}}
		{{showdate date}}
		{{dollars amount}}
		{{comments}}
	{{/each}}
</template>

<template name="userPaymentTemplate">
	Balance

	Payment Methods

	Ongoing payments
</template>


<!-- <template name="userView">
	{{> backgroundApp}}

	{{#generalLayout}}

	<div class="panel-heading">
		{{#if namesEmpty}}
			<p>Type in your name and press enter to save it!</p>
			<div class="form-inline row">
				<div class="form-group col-sm-6">
					<input id="initialFirstname" type="text" value="{{firstname}}" placeholder="First Name"/>
				</div>
				<div class="form-group col-sm-6">
					<input id="initialLastname" type="text" value="{{lastname}}" placeholder="Last Name"/>
				</div>
			</div>
			{{#if session "namesInputInvalid"}}
				<span class="help-block alert alert-danger">You can't leave any of your names empty!</span>
			{{/if}}
		{{else}}
			{{#if session "editingNames"}}
				<p>Change your name and press enter to save it!</p>
				<div class="form-inline row">
					<div class="form-group col-sm-6">
						<input id="editFirstname" type="text" value="{{firstname}}" placeholder="First Name"/>
					</div>
					<div class="form-group col-sm-6">
						<input id="editLastname" type="text" value="{{lastname}}" placeholder="Last Name"/>
					</div>
				</div>
				{{#if session "namesInputInvalid"}}
					<span class="help-block alert alert-danger">You can't leave any of your names empty!</span>
				{{/if}}
			{{else}} {{#if session "editingPassword"}}
				<div class="form-inline row">
					<div class="form-group col-sm-12">
						<input id="editPasswordAuth" type="password" placeholder="current password (to make sure it's you!)"/>
					</div>
					<div class="form-group col-sm-12">
						<input id="editPasswordNew" type="password" placeholder="new password"/>
					</div>
					<div class="form-group col-sm-12">
						<input id="editPasswordConfirm" type="password" placeholder="confirm new password"/>
					</div>
				</div>
				{{#if session "passwordInputDenied"}}
					<span class="help-block alert alert-danger">{{session "passwordInputDenied"}}</span>
				{{/if}}
				{{#if session "passwordInputInvalid"}}
					<span class="help-block alert alert-danger">Your New Passwords don't match!</span>
				{{/if}}
				<button id="cancelEditingPassword">Never Mind</button>
			{{else}}
				<h3>
					{{firstname}} {{lastname}}
					<button id="editNames"><span class="glyphicon glyphicon-pencil"></span></button>
					<button id="editPassword">Change Your Password</button>
				</h3>
			{{/if}} {{/if}}
		{{/if}}
	</div>

	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading">Your Email Addresses</div>
			<ul class="list-group">
				{{#if session "removeEmailQuantityInvalid"}}
					<li class="list-group-item">
						<span class="help-block alert alert-danger">You must have at least one email to be able to log in.</span>
					</li>
				{{/if}}
				{{#if session "removeEmailVerificationInvalid"}}
					<li class="list-group-item">
						<span class="help-block alert alert-danger">You must have a verified email.</span>
					</li>
				{{/if}}
				{{#if session "editEmailError"}}
					<li class="list-group-item">
						<span class="help-block alert alert-danger">{{session "editEmailError"}}</span>
					</li>
				{{/if}}
				{{#each emails}}
					<li class="list-group-item">{{> email}}</li>
				{{else}}
					<li class="list-group-item">
						Add an Email address! When you add this address, it will be used as your new login name.
					</li>
					<li class="list-group-item">
						Type in your address, retype it in the second box, then press enter to save it.
					</li>
					<li class="list-group-item">
						<input id="initialEmail" type="text" placeholder="whoever@whatever.com"/>
					</li>
					<li class="list-group-item">
						<input id="initialEmailConfirm" type="text" placeholder="whoever@whatever.com"/>
					</li>
					{{#if session "emailInputInvalid"}}
						<li class="list-group-item">
							<span class="help-block alert alert-danger">Make sure the email addresses match!</span>
						</li>
					{{/if}}
				{{/each}}
			</ul>
			<div class="panel-footer">
				<input id="emailsInput" type="text" placeholder="add another email address"/>
				{{#if session "emailNewInputInvalid"}}
					<span class="help-block alert alert-danger">That isn't even a valid email address!</span>
				{{/if}}
				{{#if session "emailNewInputNotUnique"}}
					<span class="help-block alert alert-danger">Are you sure you typed it correctly? That email address has been used by someone else.</span>
				{{/if}}
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Your Phones</div>
			<ul class="list-group">
				{{#each phones}}
					<li class="list-group-item">{{> phone}}</li>
				{{else}}
					<li class="list-group-item">You haven't listed any phone numbers.</li>
				{{/each}}
			</ul>
			<div class="panel-footer">
				<input id="phonesInput" type="text" placeholder="add another phone number"/>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">All Students you Manage</div>
			<div class="panel-body">	
				{{#each students}}
					<div>{{> student}}</div>
				{{else}}
					<p>You don't manage any other students.</p>
				{{/each}}
			</div>
			<!-- <div class="panel-footer">
				<p>Add a New Student</p>
				<div class="form-inline row">
					<div class="form-group col-sm-4">
						<select id="studentPriceInput">
							<option value="15.00">Minor Lesson ($15.00)</option>
							<option value="22.50" selected>Major Lesson ($22.50)</option>
							<option value="30.00">Augmented Lesson ($30.00)</option>
						</select>
					</div>
					<div class="form-group col-sm-4">
						<input id="studentFirstnameInput" type="text" placeholder="First Name"/>
					</div>
					<div class="form-group col-sm-4">
						<input id="studentLastnameInput" type="text" placeholder="Last Name"/>
					</div>
				</div>
			</div> -->
		<!-- </div>

		<div class="panel panel-default">
			<div class="panel-heading">
				Your Payments. Balance is {{dollars balance}}.<br/>
				You can pay by sending money with <a href="https://www.paypal.com/myaccount/transfer/send" target="_newtab">PayPal</a>
				to <span class="important">blainehansenclassicalpiano@gmail.com</span>, or by paying in person with cash or check.
				<!-- {{#if balance}}
					<button data-toggle="modal" data-target="#paymentModal" class="btn btn-primary">Make a Payment</button>
				{{/if}} -->
			<!-- </div>
			<ul class="list-group">
				{{#each payments}}
					<li class="list-group-item">{{> payment}}</li>
				{{else}}
					<li class="list-group-item">You haven't made any payments.</li>
				{{/each}}
			</ul>
		</div>
	</div>
	{{/generalLayout}}

	{{> paymentModal balance=balance braintree_id=braintree_id}}
</template>

<template name="email">
	{{#if session emailEditingTag}}
		<input id="editEmailInput" type="text" value="{{address}}" placeholder="type in an email address"/>		
	{{else}}
		{{address}}
		{{#unless verified}}
			<span class="label label-warning">Unverified</span><button class="verifyEmail">Verify</button>
			<button class="editEmail"><span class="glyphicon glyphicon-pencil"></span></button>
		{{/unless}}
		<button class="removeEmail"><span class="glyphicon glyphicon-remove"></span></button>
	{{/if}}
</template>

<template name="phone">
	{{number}} <button><span class="glyphicon glyphicon-remove"></span></button>
</template>


<template name="student">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{#if session studentEditingTag}}
				<input id="studentEditFirstname" type="text" value="{{firstname}}"/>
				<input id="studentEditLastname" type="text" value="{{lastname}}"/>
				{{#if session studentInputsInvalidTag}}You can't leave any of your names empty!{{/if}}
			{{else}}
				{{firstname}} {{lastname}}: {{dollars price}} 
				{{#unless reflectsUser}}
					<button id="editStudentNames"><span class="glyphicon glyphicon-pencil"></span></button>
				{{/unless}}
				<button data-toggle="collapse" data-target="#{{_id}}body"><span class="glyphicon glyphicon-chevron-down"></span></button>
			{{/if}}
		</div>
		<div id="{{_id}}body" class="panel-body collapse">
			<div class="panel panel-default">
				<div class="panel-heading">This Student's Lessons</div>
				<ul class="list-group">
					{{#each lessons}}
						<li class="list-group-item">{{> lesson}}</li>
					{{else}}
						<li class="list-group-item">This student hasn't taken any lessons.</li>
					{{/each}}
				</ul>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">This Student's Expense's</div>
				<ul class="list-group">
					{{#each expenses}}
						<li class="list-group-item">{{> studentExpense}}</li>
					{{else}}
						<li class="list-group-item">This student hasn't had any expenses.</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</template>

<template name="payment">
	{{date}}: {{dollars amount}} {{method}} {{comments}}
</template>

<template name="lesson">
	{{date}}: {{dollars price}}
</template>

<template name="studentExpense">
	{{date}}: {{dollars price}} {{comments}}
</template> -->